on:
  push:
    branches: [ main ]
  pull_request:

name: Test Coveralls Parallel

jobs:
  build:
    env:
      CGO_ENABLED: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make build
  test:
    needs: build
    env:
      CGO_ENABLED: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make test
      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make goveralls-push
